body {
  background-color: #fad9c7 !important;
  /* prevent bootstrap add overflow and padding when open modals*/
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

.bg-img {
  position: absolute !important;
}
#bg {
  background-image: url(bg.svg);
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
}

#fireworks {
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
  background-image: url(bg-fireworks.svg);
  -webkit-animation-name: fireworks;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes fireworks {
  0% {
    background-size: 100%;
  }

  25% {
    background-size: 95%;
  }

  50% {
    background-size: 100%;
  }

  75% {
    background-size: 95%;
  }

  100% {
    background-size: 100%;
  }
}

#cloud1 {
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  resize: both;
  background-image: url(bg-cloud1.svg);
  -webkit-animation-name: cloud1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes cloud1 {
  0% {
    background-position: -5px 0;
  }

  25% {
    background-position: 5px 0;
  }

  50% {
    background-position: -5px 0;
  }

  75% {
    background-position: 5px 0;
  }

  100% {
    background-position: -5px 0;
  }
}

#cloud2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
  background-image: url(bg-cloud2.svg);
  -webkit-animation-name: cloud2;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes cloud2 {
  0% {
    background-position: 5px 0;
  }

  25% {
    background-position: -5px 0;
  }

  50% {
    background-position: 5px 0;
  }

  75% {
    background-position: -5px 0;
  }

  100% {
    background-position: 5px 0;
  }
}

.nav-grad {
  background: rgb(229, 60, 56);
  background: linear-gradient(
    180deg,
    rgba(229, 60, 56, 1) 0%,
    rgba(229, 60, 56, 0.3) 50%,
    rgba(246, 189, 173, 0) 90%,
    rgba(250, 217, 199, 0) 100%
  );
  font-family: 'Marmelad', sans-serif;
}
.block-title,
.brown-text,
.navlink {
  color: #730000 !important;
  font-weight: bold;
}

.deco2 {
  background-image: url(deco2.svg);
  background-position: 0 100;
  background-repeat: no-repeat;
}

#news-container {
  border-bottom: solid 1px #730000;
}
#speaker-container {
  background-image: url(deco-speaker.svg);
  background-position: 0 400;
  background-repeat: no-repeat;
}
#schedule-section {
  background-image: url(deco-schedule1.svg);
  background-position: 0 500;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100% !important;
}
#Schedule {
  padding-top: 10rem !important;
  background-image: url(deco-schedule.svg);
  background-position: center;
  background-size: 100%;
  background-size: 1;
  width: 100% !important;
  background-repeat: no-repeat;
}
body > footer > div:nth-child(2),
body > footer > div:nth-child(3) {
  color: #730000;
  font-weight: 500;
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: #730000 !important;
}

.home-text {
  position: absolute;
  top: 50%;
  font-family: 'Marmelad', sans-serif;
  font-size: 25px;
}

footer {
  font-family: 'Marmelad', sans-serif;
  background: url(footer.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px !important;
  }
}

.block-title {
  font-size: 28px;
  padding-top: 7rem !important;
  padding-bottom: 3rem !important;
  font-family: 'Marmelad', sans-serif;
}

.content-block {
  font-family: 'Marmelad', sans-serif;
  color: #730000 !important;
  z-index: 2200 !important;
  border-top: solid 1px;
}

.agenda-content {
  background-color: rgba(255, 255, 255, 0.5);
}
.agenda-content:hover,
.news-block:hover {
  cursor: pointer;
  color: #e50038 !important;
  border-color: #730000;
}

.deco1 {
  background-image: url(deco1.svg);
  background-position: 0 100;
  background-repeat: no-repeat;
}

.news-content {
  font-size: 19px !important;
  font-family: 'Marmelad', sans-serif;
  color: #7a6262 !important;
}

#schedule-section {
  background-color: #ffede8;
  border-radius: 3rem;
  color: #aa8b82;
}

.badge {
  background-color: #d9917c;
  margin-top: 1rem;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.talk-title,
.talk-day {
  font-weight: 500;
  font-size: 20px;
}
.talk-day {
  font-weight: bold;
}

.schedule-break,
.addr {
  color: #6e4f4f !important;
}

.venue-text {
  font-size: 24px;
  font-weight: 500;
}

.addr,
.sponsors {
  font-weight: 400;
}

.btn-primary {
  background-color: #fff0 !important;
  border: 1px solid #730000 !important;
  color: #730000 !important;
}

.btn-primary:hover {
  background-color: #730000 !important;
  border: 1px solid #730000 !important;
  color: #fad9c7 !important;
}

button:focus {
  box-shadow: none !important;
}

.sponsors {
  font-size: 20px;
}

.speaker-box {
  cursor: pointer;
  margin: 0rem 3rem 3rem !important;
  transition: all 0.5s !important;
  height: 250px;
  font-family: 'Marmelad', sans-serif;
}

.avatar {
  border-radius: 100%;
}

.speaker-box:hover {
  margin-top: -0.5rem !important;
  // border: 1px solid #fff;
}

.pb-7 {
  padding-bottom: 7rem;
}
.pt-7 {
  padding-top: 7rem !important;
}

.venue-flex {
  display: flex;
  flex-direction: row;
}

.venue-flex > div:nth-child(1) {
  width: 50%;
}

#schedule-section > div.venue-flex.align-items-center > div.d-flex.flex-column {
  margin-left: 3rem;
}

.modal-content {
  border-radius: 3rem !important;
}

.modal-body {
  color: #7a6262;
  font-family: 'Marmelad', sans-serif;
}

#cocModal > div > div > div.modal-body,
#teamModal > div > div > div.modal-body {
  background-image: none !important;
}

#teamModal > div > div > div.modal-body > h4 {
  background-image: url(deco3.svg) !important;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-body > div > div.col-lg-7 {
  padding-left: 2.5rem;
  margin: 2rem auto;
  border-left: 1px solid #7a6262;
}

.modal-body {
  background-image: url(deco-schedule1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body > footer > div:nth-child(2) > li{
  cursor: pointer;
}

.fade{
  transition:all 0.5s!important;
}

@media only screen and (max-width: 767px) {
  body {
    // background-color: lightblue!important;
  }

  body > div.container.w-100.h-75.d-flex.justify-content-center > img {
    height: 20rem;
  }

  #bg {
    background-image: url(bgm.svg) !important;
    background-size: 180% !important;
  }

  #fireworks,
  #cloud1,
  #cloud2 {
    background-image: none !important;
  }

  #bgmb {
    background-image: url(bgmb.svg);
    position: absolute;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: 300%;

    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
  }

  @keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-moz-keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-webkit-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-ms-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-o-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }

  body > div.container.w-100.h-100.d-flex.justify-content-center {
    height: 80% !important;
  }

  .home-text {
    top: 60%;
  }

  .home-text > div {
    text-align: center;
    font-size: 15px;
  }
  .home-text > div:nth-child(1) {
    font-size: 20px !important;
  }

  .px-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .block-title {
    padding-top: 5rem;
  }
  .venue-flex {
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  .venue-flex > div:nth-child(1) {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }

  .news-block {
    flex-direction: column !important;
    // mx-3 px-2
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .news-block > div {
    width: 100% !important;
  }
  .news-block > div:nth-child(1) {
    margin-bottom: 1rem !important;
  }

  footer {
    flex-direction: column !important;
    padding: 0 2rem 5rem !important;
    font-family: 'Marmelad', sans-serif;
    background: url(footer-m.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }

  body > footer > div:nth-child(2) {
    padding: 2rem 0 !important;
  }

  .modal-dialog {
    max-width: 350px !important;
  }

  .modal-body {
    flex-direction: column !important;
  }

  .modal.show {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .venue-flex {
    flex-direction: column !important;
  }
  .venue-flex > div:nth-child(1) {
    width: 100%;
  }
  #schedule-section
    > div.venue-flex.align-items-center
    > div.d-flex.flex-column {
    margin-left: 0 !important;
  }

  .deco1,
  .deco2,
  #speaker-container,
  #schedule-section {
    background-image: none !important;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1000px !important;
  }
}

@media only screen and (max-width: 992px) {
  .modal-body > div > div.col-lg-7 {
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: none;
  }

  #teamModal > div > div > div.modal-body > div {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  #teamModal > div > div > div.modal-body > div > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
