@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";

body {
  background-color: #fad9c7 !important;
  // e53c38
}

.bg-img {
  position: absolute !important;
}
#bg {
  // background-image: url(/rubyconftw2021.github.io/assets/bg.svg);
  background-image: url(/assets/bg.svg);
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
}

#fireworks {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
  background-image: url(/assets/bg-fireworks.svg);
  -webkit-animation-name: fireworks;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes fireworks {
  0% {
    background-size: 100%;
  }

  25% {
    background-size: 95%;
  }

  50% {
    background-size: 100%;
  }

  75% {
    background-size: 95%;
  }

  100% {
    background-size: 100%;
  }
}

#cloud1 {
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  resize: both;
  background-image: url(/assets/bg-cloud1.svg);
  -webkit-animation-name: cloud1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes cloud1 {
  0% {
    background-position: -5px 0;
  }

  25% {
    background-position: 5px 0;
  }

  50% {
    background-position: -5px 0;
  }

  75% {
    background-position: 5px 0;
  }

  100% {
    background-position: -5px 0;
  }
}

#cloud2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  resize: both;
  background-image: url(/assets/bg-cloud2.svg);
  -webkit-animation-name: cloud2;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}
@keyframes cloud2 {
  0% {
    background-position: 5px 0;
  }

  25% {
    background-position: -5px 0;
  }

  50% {
    background-position: 5px 0;
  }

  75% {
    background-position: -5px 0;
  }

  100% {
    background-position: 5px 0;
  }
}

.nav-grad {
  background: rgb(229, 60, 56);
  background: linear-gradient(
    180deg,
    rgba(229, 60, 56, 1) 0%,
    rgba(229, 60, 56, 0.3) 50%,
    rgba(246, 189, 173, 0) 90%,
    rgba(250, 217, 199, 0) 100%
  );
}

.brown-text,
.navlink {
  color: #730000 !important;
  font-weight: bold;
}

li {
  color: #730000;
  font-weight: 500;
}

a,
a:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: #730000 !important;
}

li {
  list-style-type: none;
}

.home-text {
  position: absolute;
  top: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}


footer{
  background:  linear-gradient(
    0deg,
    rgba(229, 60, 56, 1) 0%,
    rgba(229, 60, 56, 0.3) 50%,
    rgba(246, 189, 173, 0) 90%,
    rgba(250, 217, 199, 0) 100%
  )!important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px !important;
  }
}

.block-title {
  font-size: 28px;
  padding-top: 7rem !important;
  padding-bottom: 3rem !important;
  font-family: "Montserrat", sans-serif;
}

.content-block {
  color: #730000 !important;
  border-top: solid 1px;
}
.agenda-content,
.news-content {
  background-color: #fad9c7;
}
.agenda-content:hover,
.news-content:hover {
  cursor: pointer;
  background-color: rgba(165, 140, 140, 0.315);
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.talk-title,
.talk-day {
  font-weight: 500;
  font-size: 20px;
}
.talk-day {
  font-weight: bold;
}

.schedule-break {
  color: #6e4f4f !important;
  // background-color: rgba(255, 255, 255, 0.3);
}

.venue-text {
  font-size: 24px;
  font-weight: 500;
}

.addr,
.sponsors {
  font-weight: 340;
}

.btn-primary {
  background-color: #fff0 !important;
  border: 1px solid #730000 !important;
  color: #730000 !important;
}

.btn-primary:hover {
  background-color: #730000 !important;
  border: 1px solid #730000 !important;
  color: #fad9c7 !important;
}

button:focus {
  box-shadow: none !important;
}

.sponsors {
  font-size: 20px;
}

.speaker-box {
  margin: 0rem 3rem 3rem !important;
  height: 250px;
}

.speaker-box > img {
  border-radius: 100%;
  border: 1px solid #000;
}

.speaker-box:hover {
  transition: all 0.75s !important;
  margin-top: -1rem !important;
  // border: 1px solid #fff;
}

.pb-7 {
  padding-bottom: 7rem;
}
.pt-7 {
  padding-top: 7rem !important;
}

.venue-flex {
  flex-wrap: nowrap !important;
}
.venue-flex > div:nth-child(1) {
  width: 20rem !important;
  margin-right: 3rem;
}

@media only screen and (max-width: 767px) {
  body {
    // background-color: lightblue!important;
  }

  body > div.container.w-100.h-75.d-flex.justify-content-center > img {
    height: 20rem;
  }

  .bg-img {
    // background-image: url(/rubyconftw2021.github.io/assets/bgm.svg);
    background-image: url(/assets/bgm.svg)!important;
    // background-position: 30% 67%!important;
    background-size: 180%!important;
  }

  #fireworks,#cloud1,#cloud2{
    background-image: none!important;
  }

  #bgmb {
    background-image: url(/assets/bgmb.svg);
    position: absolute;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: 300%;

    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
  }

  @keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-moz-keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-webkit-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-ms-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }
  @-o-keyframes animatedBackground {
    0% {
      background-position: 0 95%;
    }
    100% {
      background-position: -300px 95%;
    }
  }

  body > div.container.w-100.h-100.d-flex.justify-content-center {
    height: 80% !important;
  }

  .home-text {
    top: 60%;
  }

  .home-text > div {
    text-align: center;
    font-size: 15px;
  }
  .home-text > div:nth-child(1) {
    font-size: 20px !important;
  }

  .px-7 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .block-title {
    padding-top: 5rem;
  }
  .venue-flex {
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  .venue-flex > div:nth-child(1) {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }

  .news-content {
    flex-direction: column !important;
    // mx-3 px-2
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .news-content > div {
    width: 100% !important;
  }
  .news-content > div:nth-child(1) {
    margin-bottom: 1rem !important;
  }

  footer {
    flex-direction: column !important;
    padding: 0 2rem 5rem !important;
  }

  body > footer > div:nth-child(2) {
    padding: 2rem 0 !important;
  }
}
