<html>

<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/main.scss" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body style="background-color: #fad9c7;">
    <div class='bg-img w-100 h-100' id='fireworks'></div>
    <div class='bg-img w-100 h-100' id='cloud1'></div>
    <div class='bg-img w-100 h-100' id='cloud2'></div>
    <div class='bg-img w-100 h-100' id='bg'>
        <div class='w-100 h-100' id='bgmb'></div>
    </div>

    <nav class="nav-grad sticky-top py-5">
        <div class=" container justify-content-around">
            <div id="navbarNav" class="collapse navbar-collapse d-flex flex-row justify-content-around w-100">
                    <div><a class="navlink" href="#News">News</a></div>
                    <div><a class="navlink" href="#Speakers">Speakers</a></div>
                    <div><a class="navlink" href="#Schedule">Schedule</a></div>
                    <div><a class="navlink" href="#Venue">Venue</a></div>
                    <div><a class="navlink" href="#Sponsors">Sponsors</a></div>
            </div>
        </div>
    </nav>

    <div class='container w-100 h-75 d-flex justify-content-center'>
        <img src="/assets/logo_red.svg" height="500rem" />
        <div class='brown-text home-text w-100 container'>
            <div class='lh-lg' style="font-size: 40px;">Jul 31st ~ Aug 1st</div>
            <div>TR 214 AAEON Building</div>
            <div>NTUST, Taiwan</div>
        </div>
    </div>


    <div class="container">{{ content }}</div>


    <footer class="h-card d-flex justify-content-around" style='padding: 30px 0;'>
        <div class="d-flex align-items-center">
            <img class="brown-text" src="/assets/logo_red.svg" width='70'>
            <div class="brown-text ms-2">Ruby Conf<br>Taiwan 2021</div>
        </div>
        <div>
            <li><a href=''>Code of Conduct</a></li>
            <li><a href=''>Team Members</a></li>
            <li><a href='https://ruby.tw/'>Ruby Taiwan</a></li>
        </div>
        <div>
            <li>Twitter<a class="ms-2" href='https://twitter.com/rubyconftw'>@rubyconftw</a></li>
            <li>Facebook<a class="ms-2" href='https://www.facebook.com/rubyconftw'>RubyConf Taiwan</a></li>
            <li>E-mail<a class="ms-2" href='mailto:contact@rubyconf.tw'>contact@rubyconf.tw</a></li>
        </div>

    </footer>

</body>

</html>